header{
    height: 7vh;
}
section{
    height: 93vh;
}
.nopadding{
    padding: 0;
}
.h4{
    height: 4%;
}
.h-10{
    height: 10%;
}
.h-90{
    height: 90%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-45{
    width: 45%;
}
.w-55{
    width: 55%;
}
.w-90{
    width: 90%;
}
.ml-5{
    margin-left: 5%;
}
.ml-10{
    margin-left: 10%;
}
.mr-10{
    margin-right: 10%;
}
.ml-25{
    margin-left: 25%;
}
.ml-50{
    margin-left: 50%;
}
a{
    cursor: pointer;
}
a:link{
    text-decoration: none;
}

input{
    width: 50%;
}
label{
    width: 40%;
}

.formulaire{
    display: flex;
    flex-direction: row;
}

/* Vendre article */
.parent-div {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.parent-div input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
}